<a href="https://colab.research.google.com/github/SilvioSodre13/Cursos-Data-Viking/blob/main/Curso_Python_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando a biblioteca

import sqlite3

In [ ]:
# Criar um banco de dados
Conexao = sqlite3.connect("Banco_Dados")

In [ ]:
# Apontar para o banco de dados

Cursor = Conexao.cursor()

1. Create Table

In [ ]:
#Criando uma tabela
Cursor.execute (
    'CREATE TABLE Minha_Tabela (Data text, Nome text, Idade real )'
    )

#Fazer um commit

Conexao.commit ()

2. INSERT INTO

In [ ]:
#Inserindo Valores

Cursor.execute ('INSERT INTO Minha_Tabela VALUES ("01/01/2021", "Odemir", "30") ')

In [ ]:
Cursor.execute ('INSERT INTO Minha_Tabela VALUES ("05/01/2021", "Lucas", "30") ')

In [ ]:
#Import Numeros Aleatórios

import random

In [ ]:

for Loop in range (10):

  #Gerando um numero aleatorio
    Numero = random.randint(10,20)
  #Inserir informação na minha tabela
    Cursor.execute (f'INSERT INTO Minha_Tabela VALUES ("05/01/2021", "Lucas", {Numero})')

3. Select Table

In [ ]:
#Query de consulta - Todas as colunas

Consulta = Cursor.execute('SELECT * FROM Minha_Tabela').fetchall()
print(Consulta)

[('01/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 16.0), ('05/01/2021', 'Lucas', 19.0), ('05/01/2021', 'Lucas', 13.0), ('05/01/2021', 'Lucas', 12.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 15.0), ('05/01/2021', 'Lucas', 13.0)]

In [ ]:
#Query de consulta - colunas especificas
Consulta = Cursor.execute('SELECT  Nome , Idade FROM Minha_Tabela').fetchall()
#Loop
for Linha in Consulta:
  print(Linha)

('Odemir', 30.0)
('Lucas', 30.0)
('Lucas', 14.0)
('Lucas', 14.0)
('Lucas', 16.0)
('Lucas', 19.0)
('Lucas', 13.0)
('Lucas', 12.0)
('Lucas', 14.0)
('Lucas', 14.0)
('Lucas', 15.0)
('Lucas', 13.0)

4.Where

In [ ]:
# Query usando o Igual '='
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    WHERE Nome = 'Odemir'
    '''
).fetchall()
print(Consulta)

[('01/01/2021', 'Odemir', 30.0)]

In [ ]:
# Query usando o Igual '>'
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    WHERE idade > 25
    '''
).fetchall()
print(Consulta)

[('01/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Lucas', 30.0)]

In [ ]:
# Query usando o Igual '<'
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    WHERE idade < 25
    '''
).fetchall()
print(Consulta)

[('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 16.0), ('05/01/2021', 'Lucas', 19.0), ('05/01/2021', 'Lucas', 13.0), ('05/01/2021', 'Lucas', 12.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 15.0), ('05/01/2021', 'Lucas', 13.0)]

In [ ]:
# Query usando o Igual '<='
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    WHERE idade <= 25
    '''
).fetchall()
print(Consulta)

[('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 16.0), ('05/01/2021', 'Lucas', 19.0), ('05/01/2021', 'Lucas', 13.0), ('05/01/2021', 'Lucas', 12.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 15.0), ('05/01/2021', 'Lucas', 13.0)]

In [ ]:
 #Query usando o Igual '<>'
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    WHERE Nome <> 'Odemir'
    '''
).fetchall()
for Linha in Consulta:
  print(Linha)

('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 13.0)

5. BETWEEN

In [ ]:
#Query usando o BETWEEN
Consulta = Cursor.execute(
    '''
     SELECT * FROM Minha_Tabela
     WHERE idade BETWEEN 15 and 21
     '''
).fetchall()
for Linha in Consulta :
  print(Linha)

('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 15.0)

6. LIKE

In [ ]:
#Query usando Like algo que comece com
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE 'O%'

''').fetchall()

for Linha in Consulta:
  print(Linha)

('01/01/2021', 'Odemir', 30.0)

In [ ]:
#Query usando LIKE procurando algo que termine com

Consulta = Cursor.execute (
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE '%s'

'''
)
for Linha in Consulta:
  print(Linha)

('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 13.0)

In [ ]:
# Query usando LIKE procurando algo que tenha o padrão

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE nome LIKE '%ucas%'

'''
).fetchall()

for Linha in Consulta:
  print(Linha)

('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 13.0)

7. IN

In [ ]:
# Query procurando algo com IN
Consulta = Cursor.execute(
    '''
    SELECT*FROM Minha_tabela
    WHERE idade IN (18,20,30)

'''
).fetchall()   
for Lista in Consulta:
  print(Lista)

('01/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Lucas', 30.0)

In [ ]:
# Query procurando algo com IN
Consulta = Cursor.execute(
    '''
    SELECT*FROM Minha_tabela
    WHERE Nome IN ('Odemir')
'''
).fetchall()   
for Lista in Consulta:
  print(Lista)

('01/01/2021', 'Odemir', 30.0)

8. AND , OR , NOT

In [ ]:
# And
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    WHERE Idade = 15 AND nome = 'Lucas'
'''
).fetchall()
print(Consulta)

[('05/01/2021', 'Lucas', 15.0)]

In [ ]:
# OR 
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade = 15 OR nome = 'Lucas'
'''
).fetchall()
print(Consulta)

[('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 16.0), ('05/01/2021', 'Lucas', 19.0), ('05/01/2021', 'Lucas', 13.0), ('05/01/2021', 'Lucas', 12.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 15.0), ('05/01/2021', 'Lucas', 13.0)]

In [ ]:
#NOT
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE NOT Nome = 'Lucas'

'''
).fetchall()
print(Consulta)

[('01/01/2021', 'Odemir', 30.0)]

In [ ]:
# Combinação de parametros AND ,OR e NOT

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome ='Lucas' AND (idade > 12  OR idade < 20 ) AND NOT idade = 15
'''
).fetchall()
print (Consulta)

[('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 16.0), ('05/01/2021', 'Lucas', 19.0), ('05/01/2021', 'Lucas', 13.0), ('05/01/2021', 'Lucas', 12.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 13.0)]

 9 . ORDER BY

In [ ]:
# Ordernando os valores

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    ORDER BY idade , Nome
'''
).fetchall()

for Linha in Consulta :
  print (Linha)

('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 30.0)
('01/01/2021', 'Odemir', 30.0)

In [ ]:
#Ordernar em ordem decrescente
Consulta  = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    ORDER BY idade DESC
    '''
).fetchall()
for Linha in Consulta:
  print(Linha)

('01/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)

10 . NULL VALUES

In [ ]:
# Preenchendo Valores Nulos
Cursor.execute('INSERT INTO Minha_Tabela VALUES ("ABC", null , 30)')
Cursor.execute('INSERT INTO Minha_Tabela VALUES ("ABC", null , null)')

In [ ]:
#Filtrando os valores nulos 

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE nome is NULL
'''
).fetchall()
print(Consulta)

[('ABC', None, 30.0), ('ABC', None, 30.0), ('ABC', None, None)]

In [ ]:
#Verificando valores não nulos

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE nome IS NOT NULL

'''
).fetchall()
print(Consulta)

[('01/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 16.0), ('05/01/2021', 'Lucas', 19.0), ('05/01/2021', 'Lucas', 13.0), ('05/01/2021', 'Lucas', 12.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 14.0), ('05/01/2021', 'Lucas', 15.0), ('05/01/2021', 'Lucas', 13.0)]

11 . UPDATE

In [ ]:
#Visualizando a tabela
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela 
'''
).fetchall()
for Linha in Consulta:
  print(Linha)

('01/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 13.0)
('ABC', None, 30.0)
('ABC', None, 30.0)
('ABC', None, None)

In [ ]:
#Usando Update

Consulta = Cursor.execute(
    '''
    UPDATE  Minha_Tabela
    SET nome = 'preenchido'
    WHERE nome is NULL

'''
).fetchall()

#Visualizando a tabela após o Update
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela

'''
).fetchall()
for Linha in Consulta:
  print(Linha)

('01/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 13.0)
('ABC', 'preenchido', 30.0)
('ABC', 'preenchido', 30.0)
('ABC', 'preenchido', None)

In [ ]:
#preenchendo valores nulos na coluna data

Consulta= Cursor.execute(
    '''
    UPDATE Minha_Tabela
    SET idade = 'preenchido'
    WHERE idade IS NULL

'''
).fetchall()

# Visualizando a tabela

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
  print(Linha)

('01/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 13.0)
('ABC', 'preenchido', 30.0)
('ABC', 'preenchido', 30.0)
('ABC', 'preenchido', 'preenchido')

11  DELETE

In [ ]:
# Deletando valores nulos
Consulta = Cursor.execute(
    '''
    DELETE from Minha_Tabela
    WHERE nome = 'preenchido'
    '''
).fetchall()

#Visualizando a tabela

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
'''
).fetchall()
for Linha in Consulta :
  print (Linha)

('01/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 15.0)
('05/01/2021', 'Lucas', 13.0)

In [ ]:
#Excluindo mais um registro Lucas 15
Consulta = Cursor.execute(
    '''
    DELETE from Minha_Tabela
    WHERE nome = 'Lucas' AND idade = 15
'''
).fetchall()

# Visualizando a tabela

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    
'''
).fetchall()
for Lista in Consulta :
  print(Lista)

('01/01/2021', 'Odemir', 30.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 16.0)
('05/01/2021', 'Lucas', 19.0)
('05/01/2021', 'Lucas', 13.0)
('05/01/2021', 'Lucas', 12.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 14.0)
('05/01/2021', 'Lucas', 13.0)

12. SELECT TOP

In [ ]:
# Usada para retornar 3 registros
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    LIMIT 3

'''
).fetchall()
print(Consulta)

[('01/01/2021', 'Odemir', 30.0), ('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 14.0)]

13 . Min e Max

In [ ]:
# Retorna valores mínimo e máximo

#Selecionando o valor mínimo
Consulta = Cursor.execute(
    '''
    SELECT MIN (idade) FROM Minha_Tabela
    '''
).fetchall()
#Mostrando o retorno
print(Consulta)

[(12.0,)]

In [ ]:
#Selecionando o valor máximo

Consulta = Cursor.execute(
    '''
    SELECT MAX (idade) FROM Minha_Tabela
    '''
).fetchall()
#Mostrando o retorno
print(Consulta)

[(30.0,)]

14. COUNT, AVG , SUM

In [ ]:
#Conta os registros

Consulta = Cursor.execute(
    '''
    SELECT COUNT (idade) FROM Minha_Tabela
    '''
).fetchall()
#Mostrando o retorno
print(Consulta)

[(11,)]

In [ ]:
# Calculo do valor medio

Consulta = Cursor.execute(
    '''
    SELECT AVG(idade) FROM Minha_Tabela
    '''
).fetchall()
#Mostrando o retorno
print(Consulta)

[(17.181818181818183,)]

In [ ]:
#Calculo da Soma

Consulta = Cursor.execute(
    '''
    SELECT SUM (idade) FROM Minha_Tabela
    '''
).fetchall()
#Mostrando o retorno
print(Consulta)

[(189.0,)]

15 . ALIASES

In [ ]:
Consulta = Cursor.execute(
    '''
    SELECT Idade AS Ano_NASC  FROM Minha_Tabela
    
'''
).fetchall()
for Lista in Consulta :
  print(Lista)

(30.0,)
(30.0,)
(14.0,)
(14.0,)
(16.0,)
(19.0,)
(13.0,)
(12.0,)
(14.0,)
(14.0,)
(13.0,)